Jinja2==2.8
requests==2.8.1
urllib3==1.17
beautifulsoup4==4.5.3
html5lib==1.0b10
python-oembed
aiohttp==0.10.1
ipython==3.0.0
keyring==0.9.3
tuf==0.9.9
waitress==1.0.2
webargs==0.4.0
flower==0.9.3
lmdb==0.97
rpyc==4.1.0
rediswrapper==0.2.0